<h1>Registrar Producto</h1>
<div class="form-container">
<form [formGroup]="productoForm" (ngSubmit)="crear()">
  <!--
  <div class="row">
    <div class="col-sm-2">
      <label>Id:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="idProducto" name="idProducto" placeholder="Id producto" class="form-control"
      formControlName="id">
    </div>
  </div>
-->
  <div class="row">
    <div class="col-sm-2">
      <label>Tipo comedor:</label>
    </div>
    <div class="col-sm-4">
      <select class="form-select" aria-label="Default select example" formControlName="tipoComedor"   (change)="onChange()">
        <option selected>Selecciona el  comedor que deseas</option>
        <option >Vidrio</option>
        <option >Madera</option>
        <option>Tapizado</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label>Numero Puestos:</label>

    </div>
    <div class="col-sm-4">
      <select class="form-select" aria-label="Default select example" formControlName="numeroPuesto"  (change)="onChange()">
        <option selected>Selecciona el tipo de comedor que deseas</option>
        <option >4 Puestos</option>
        <option >6 Puestos</option>
        <option >8 Puestos</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label>Valor:</label>
    </div>
    <div class="col-sm-4">

      <input validar type="text" id="valor" name="valor" readonly="readonly" class="form-control"
      formControlName="valor">


    </div>
  </div>

  <button type="submit" class="btn btn-success">Agregar</button>
</form>
</div>
