<div class="row">
  <div class="col-sm-12">
    <div class="card shadow my-5 text-center ">
      <div class="card-header ">

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-stripped  align-middle">

            <thead class="table-dark">
              <tr>
                <th *ngFor="let e of encabezadoTabla">{{e}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let viajesconductor of listaCompra">
                <td>{{viajesconductor.valor}}</td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success my-2" [routerLink]="['/reserva/crear']" id="linkCrearReserva">Agregar</a>
      </div>
    </div>
  </div>
</div>
<ul *ngFor="let viajesconductor of listaCompra" >
  <li>{{viajesconductor.valor}}</li>
</ul>
