<div class="row">
  <div class="col-sm-12">
    <div class="card shadow my-5 text-center ">
      <div class="card-header ">

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-stripped  align-middle">
            <caption>Lista de items compra</caption>
            <thead class="table-dark">
              <tr>
                <th *ngFor="let e of encabezadoTabla">{{e}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos">
                <td>{{producto.tipoComedor}}</td>
                <td>{{producto.valor}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer text-center">
        <p><strong>Total apagar: {{totalPagar | currency}} </strong></p>
      </div>
      <div class="card-footer">
        <a class="btn btn-success my-2" (click)="guardarItemCompra()" id="linkCrearReserva">Pagar</a>
      </div>
    </div>
  </div>
</div>
